/* Reveal bazowy */
.reveal {
  opacity: 0;
  transition:
    opacity 0.6s ease,
    transform 10s ease;
  will-change: opacity, transform;
}

.reveal.reveal--active {
  opacity: 1;
  transform: translateY(0);
}

.reveal--up {
  transform: translateY(24px);
}

/* warianty kierunku (opcjonalnie) */
.reveal--left {
  transform: translateX(-24px);
}
.reveal--right {
  transform: translateX(400px);
}
.reveal--zoom {
  transform: scale(0.98);
}

.reveal--left.reveal--active,
.reveal--right.reveal--active,
.reveal--zoom.reveal--active {
  transform: none;
}

/* MUSZE ROZDZIELIC UNIWERSALNY EFEKT REVEAL OD ANIMACJI SEKCJI USLUG... */
