.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hero__container {
  /* 1140px */
  width: 90%;
  height: 700px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.4) 30%,
    rgba(0, 0, 0, 0.25) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: 1;
}

.hero__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  z-index: 0;
}

.hero__content {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  justify-content: left;

  max-width: 560px;
  padding: 20px 22px;
  border-radius: 14px;

  z-index: 2;
  color: white;
  text-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);

  text-align: left;
  max-width: 400px;
}

@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: min(92%, 560px); /* żeby nie wychodziło poza ekran */
  }
}

.hero__title {
  font-size: clamp(3.2rem, 5vw, 4.2rem);
  max-width: 500px;
}

.hero__text {
  font-size: clamp(1rem, 4.5vw, 2rem);
  max-width: 450px;
}
