.hero__container {
  /* 1140px */
  width: 90%;
  height: 700px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border-radius: var(--radius);
  position: relative;
  display: flex;
  justify-content: right;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--color-grey-middle) 50%, transparent) 0%,
    color-mix(in srgb, var(--color-grey-middle) 50%, transparent) 30%,
    color-mix(in srgb, var(--color-grey-middle) 50%, transparent) 50%,
    color-mix(in srgb, var(--color-grey-middle) 50%, transparent) 100%
  );
  z-index: 1;
}

.hero__video {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: right;
  z-index: 0;
}

.hero__content {
  position: absolute;
  left: 5%;
  top: 7%;
  /*transform: translateY(-50%);*/

  display: flex;
  flex-direction: column;
  justify-content: left;

  max-width: clamp(250px, 76vw, 400px);
  padding: 20px 22px;
  border-radius: var(--radius);
  background-color: var(--color-background-transparentblack);

  z-index: 2;
  color: white;
  text-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);

  text-align: left;
}

.hero__content__top-block {
  padding: 1.8rem 2.4rem 0 2.4rem;
  border-bottom: solid white 0.2rem;
  overflow: hidden;
}

.hero__content__top-block__logo {
  padding: 1.2rem 2.4rem;
  width: 100%;
  max-height: 500px;
}

.hero__content__bottom-block {
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  overflow: hidden;
}

.hero__content__bottom-block__hero__title {
  font-size: clamp(2.2rem, 4.2vw, 4.2rem);
  font-weight: 800;
  max-width: 500px;
  margin-bottom: clamp(0.8rem, 0.75vw, 1.8rem);
  display: flex;
  justify-content: center;
}

.hero__content__bottom-block__hero__subtitle {
  font-size: clamp(1.8rem, 2.4vw, 2.8rem);
  font-weight: 700;
  max-width: 450px;
  margin-bottom: clamp(1.6rem, 6vw, 6.4rem);
  display: flex;
  justify-content: center;
}

.hero__content__bottom-block__hero__slogan {
  font-size: clamp(1rem, 1.8vw, 1.6rem);
  max-width: 450px;
  margin-bottom: clamp(1.6rem, 3vw, 3.2rem);
  display: flex;
  justify-content: center;
}

.el-justify {
  display: flex;
  justify-content: center;
}

.el-full-width {
  width: 100%;
}

@media (max-width: 768px) {
  .hero__content {
    justify-content: center;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px 6px;
    width: min(92%, 560px); /* żeby nie wychodziło poza ekran */
  }

  .hero__content .reveal--active {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
