.hero__container {
  /* 1140px */
  width: 90%;
  height: 700px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border-radius: 16px;
  position: relative;
  display: flex;
  justify-content: right;
}
.hero__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--color-accent1) 50%, transparent) 0%,
    color-mix(in srgb, var(--color-accent1) 50%, transparent) 30%,
    color-mix(in srgb, var(--color-accent1) 50%, transparent) 50%,
    color-mix(in srgb, var(--color-accent1) 50%, transparent) 100%
  );
  z-index: 1;
}

.hero__video {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: right;
  z-index: 0;
}

.hero__content {
  position: absolute;
  left: 6%;
  top: 10%;
  /*transform: translateY(-50%);*/

  display: flex;
  flex-direction: column;
  justify-content: left;

  max-width: clamp(250px, 76vw, 400px);
  padding: 20px 22px;
  border-radius: 14px;
  background-color: var(--color-background-transparentblack);

  z-index: 2;
  color: white;
  text-shadow: 0 12px 40px rgba(0, 0, 0, 0.5);

  text-align: left;
}

.hero__content__top-block {
  padding: 3.2rem 2.4rem 0 2.4rem;
  border-bottom: solid white 0.2rem;
  overflow: hidden;
}

.hero__content__top-block__logo {
  width: 100%;
  max-height: 500px;
}

.hero__content__bottom-block {
  padding: 3.2rem 2.4rem;
  overflow: hidden;
}

.hero__content__bottom-block__hero__title {
  font-size: clamp(2rem, 5vw, 4.2rem);
  max-width: 500px;
  margin-bottom: clamp(1.2rem, 2vw, 2.4rem);
}

.hero__content__bottom-block__hero__text {
  font-size: clamp(1.8rem, 2.8vw, 2.8rem);
  max-width: 450px;
}

@media (max-width: 768px) {
  .hero__content__bottom-block__hero__content {
    justify-content: center;
    left: 0%;
    top: 50%;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    padding: 5px 6px;
    width: min(92%, 560px); /* żeby nie wychodziło poza ekran */
  }
}
