/* ----- Sekcja godziny otwarcia ----- */
.round-box {
  margin-top: 2.4rem;
  border-radius: 11px;
  border: solid;
  border-color: var(--color-accent3);
}

.godziny-otwarcia-text {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.clock-icon {
  width: 5.6rem;
  height: 5.6rem;
  color: var(--color-accent3); /* zmienia kolor ikony */
}

.godziny-otwarcia-heading-box {
  padding: 4.8rem 6.4rem 4.8rem 6.4rem;
  color: var(--color-accent1);
}

.godziny-otwarcia-dayvariant-heading {
  font-size: 2.4rem;
  color: var(--color-accent3);
  margin-bottom: 2.4rem;
}

.godziny-otwacia-grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 1.2rem;
  padding: 0 1.2rem;
}
