.section__services {
  margin: clamp(3.2rem, 15vw, 8.4rem) 0;
}

.services__container {
  /* 1140px */
  width: 90%;
  /*height: 200px;*/
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  border-radius: var(--radius);
  position: relative;
}

.services__overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 90%,
    rgba(255, 255, 255, 0.7) 93%,
    rgba(255, 255, 255, 0.95) 97%,
    /*vaue manual correlate with width*/ rgba(255, 255, 255, 1) 100%
  );
  z-index: 1;
}

.services__blocks {
  width: 100%;
  height: 100%;
  z-index: 2;
  padding: 1.2rem 0;
  position: relative;
}

.services__blocks__row {
  height: 30%;
  margin-bottom: 10px;
  display: flex;
  gap: clamp(1rem, 2vw, 2.4rem);
  justify-content: left;
}
.services__blocks__row--big-gap {
  gap: clamp(1.8rem, 3vw, 3.2rem);
}

.services__blocks__row__cell {
  margin: 2px;
  padding: clamp(0.8rem, 1.2vw, 2.4rem) clamp(1.2rem, 3vw, 3.2rem)
    clamp(0.8rem, 1.2vw, 2.4rem) clamp(0.8rem, 1.2vw, 2.4rem);
  background: linear-gradient(
    to right,
    color-mix(in srgb, var(--color-grey-light) 85%, white) 0%,
    color-mix(in srgb, var(--color-grey-light) 92%, white) 70%,
    color-mix(in srgb, var(--color-grey-light) 92%, black) 95%,
    color-mix(in srgb, var(--color-grey-light) 95%, black) 100%
  );
  box-shadow:
    0 3px 9px var(--color-shadow1),
    inset 0 1px 0 rgba(255, 255, 255, 0.7);
  border-radius: var(--radius);

  font-size: clamp(01.2rem, 1.2vw, 2.4rem);
  color: var(--color-grey-dark);
}
