/*   ---   Sekcja Asortyment   ---   */

.asortyment {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.asortyment-button {
  position: relative;
  display: inline-grid;
  place-items: center;
  font-family: inherit;
  aspect-ratio: 16 / 9;
  border: 0;
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  color: var(--color-base-light);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  padding: 0;
}

.asortyment-button img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* przyciemnienie */
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.asortyment-button p {
  position: relative;
  z-index: 1;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.asortyment-button:hover img {
  transform: scale(1.05);
  filter: brightness(0.7);
}

.asortyment:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.asortyment-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.asortyment-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-base-dark);
  border-radius: 100px;
  font-weight: 600;
}

.asortyment-title {
  font-size: 3.2rem;
  color: var(--color-base-light);
  font-weight: 600;
}

.asortyment-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.asortyment-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.asortyment-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/*   ---   Sekcja O nas   ---   */

.grid-text-photo {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-photo-text {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-text-photo-1st-cell {
  padding: 9.6rem;
  grid-column: 1 / span 2;
}

.grid-text-photo-2nd-cell {
  padding: 3.2rem;
  grid-column: 3;
  justify-items: center;
}

.grid-photo-text-1st-cell {
  padding: 9.6rem;
  grid-row: 1;
  grid-column: 2 / span 2;
}

.grid-photo-text-2nd-cell {
  justify-items: center;
  padding: 3.2rem;
  grid-column: 1 / span 1;
}

.review-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.colorcell {
  margin: 9.6rem;
  background-color: var(--color-accent3);
}

.colorcell:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.o-nas-colorcell-bigtext {
  font-size: 12rem;
  line-height: 1.8;
  margin: 3.2rem;
  text-align: center;
}

.o-nas-colorcell-smalltext {
  font-size: 2rem;
  line-height: 1.8;
  margin: 3.2rem 0.9rem;
  text-align: center;
}

.text-o-nas {
  color: var(--color-accent3);
  font-size: 2.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.photo-o-nas {
  overflow: hidden;
}

.photo-o-nas img {
  display: block;
  width: 100%;
  max-height: 700px;
  transition: all 0.4s;
}

.photo-o-nas img:hover {
  transform: scale(1.1);
}

/*FULL SCRREN PHOTO - na razie nie wykorzystywane*/
/*
.thumbnail {
  width: 300px;
  cursor: pointer;
  transition: 0.3s;
}

.thumbnail:hover {
  opacity: 0.8;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.full-image {
  max-width: 90%;
  max-height: 90%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: var(--color-base-light);
  cursor: pointer;
  user-select: none;
}
*/

/*   ---   Sekcja Co nas wyroznia   ---   */

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  background-color: var(--color-base-dark);
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: justify;
}

.cnw-feature-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
  filter: grayscale(100%);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-title-1stline {
  font-size: 2.4rem;
  color: var(--color-base-dark);
  font-weight: 700;
  margin-bottom: 0.5rem;
}
