/*index.css*/
/* RESPONSIVE */
/* Ponizej 1200px (Szerokok. tablety) */

@media (max-width: 75em) {
  .left-container-o-nas {
    padding: 9.6rem 3.2rem;
  }
}

/* Ponizej 944px (Tablety) */
@media (max-width: 59em) {
  .asortyment-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
}

/*podlogi.css*/
/* RESPONSIVE */
/* Ponizej 1200px (Szerokok. tablety) */
@media (max-width: 75em) {
  .photo-rodzaje-podlog img {
    width: auto;
    max-width: 338px;
    max-height: 450px;
  }
}
