.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* ----- Grid 1:3 zdjecie tekst ----- */

.grid-text-photo {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-photo-text {
  background-color: var(--color-base-dark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(2, 1fr);*/
  align-items: center;
  padding-bottom: 5rem;
}

.grid-text-photo-1st-cell {
  padding: 9.6rem;
  grid-column: 1 / span 2;
}

.grid-text-photo-2nd-cell {
  padding: 3.2rem;
  grid-column: 3;
  justify-items: center;
}

.grid-photo-text-1st-cell {
  padding: 9.6rem;
  grid-row: 1;
  grid-column: 2 / span 2;
}

.grid-photo-text-2nd-cell {
  justify-items: center;
  padding: 3.2rem;
  grid-column: 1 / span 1;
}

.text-o-nas {
  color: var(--color-accent3);
  font-size: 2.2rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.photo-o-nas {
  overflow: hidden;
}

.photo-o-nas img {
  display: block;
  width: 100%;
  max-height: 700px;
  transition: all 0.4s;
}

.photo-o-nas img:hover {
  transform: scale(1.1);
}
